h1 {
  color: brown;
}

body {
  background-image: url("../img/pet_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.btn {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  gap: 5px;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}

.small_image_box {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-top: 20px;
}

.small_image_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
